---
Language: Cpp
BasedOnStyle: Google
Standard: c++20
ColumnLimit: 100
IndentWidth: 4
AccessModifierOffset: -4
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Regroup
IncludeCategories:
  # Standard library: <vector>, <cmath>, ...
  - Regex: '^<[a-z_]+>$'
    Priority: 1
  # Third-party headers with an extension: <GLFW/glfw3.h>, <imgui.h>, ...
  - Regex: '^<.*>$'
    Priority: 2
  # First-party module headers.
  - Regex: '^"'
    Priority: 3
